<h1>Listing travels</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>From</th>
      <th>To</th>
      <th>Total award miles</th>
      <th>Name</th>
      <th>Remarks</th>
      <th>Class</th>
      <th>Segment</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.user %></td>
        <td><%= travel.from %></td>
        <td><%= travel.to %></td>
        <td><%= travel.total_award_miles %></td>
        <td><%= travel.name %></td>
        <td><%= travel.remarks %></td>
        <td><%= travel.class %></td>
        <td><%= travel.segment %></td>
        <td><%= travel.level %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel', new_travel_path %>
