<%- model_class = Travel -%>
<div class="page-header">
  <h1><%=t '.title', :default => Travel %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:from) %></th>
      <th><%= model_class.human_attribute_name(:to) %></th>
      <th><%= model_class.human_attribute_name(:total_award_miles) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:remarks) %></th>
      <th><%= model_class.human_attribute_name(:class) %></th>
      <th><%= model_class.human_attribute_name(:segment) %></th>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.id %></td>
        <td><%= travel.from %></td>
        <td><%= travel.to %></td>
        <td><%= travel.total_award_miles %></td>
        <td><%= travel.name %></td>
        <td><%= travel.remarks %></td>
        <td><%= travel.class %></td>
        <td><%= travel.segment %></td>
        <td><%= travel.level %></td>
        <td><%=l travel.created_at, format: :long %></td>
        <td>
          <%= link_to travel_path(travel), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to travel_path(travel), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_travel_path,
            :class => 'btn btn-primary' %>
